body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Poppins', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.container {
  max-width: 60vw;
  margin: 30px auto;
  overflow: auto;
  min-height: 30vh;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 25px;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn-block {
  display: block;
  width: 100%;
}

.task {
  background: #e5ebb6;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.task h3 {
  font-size: 23px;
  display: flex;
  color: rgb(11, 44, 134);
  align-items: center;
  justify-content: space-between;
}

.task p{
  color: rgb(11, 44, 134);
}

.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
}


.form-control label {
  /* font-family: 'Poppins', sans-serif; */
  display: block;
}

.form-control input {
  width: 100%;
  height: 30px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 20px;
}

.timer_container {
  margin: auto;
  border-radius: 10px;
  display: block;
  width: 30vw;
  height: 30vh;
  min-width: 20vw;
  text-align: center;
  background-color: rgba(221, 234, 245, 0.8);
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New';
  font-size: 45px;
}

.time_btn {
  display: inline-flex;
}

.left_icon {
  display: inline-block;
}

.right_icon {
  display: inline-block;
}

.btn_switch {
  display: block;
  margin: auto;
  background: #000;
  color: #fff;
  border: none;
  padding: 1vw 2vh;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.divider {
  width:1vw;
  height:auto;
  display:inline-block;
}

.divider_title {
  width:1vw;
  height: 4vh;
  display: block;
}